/build/
/out/
/run/
/classes/

.gradle/
**/build/

*.iml
*.ipr
*.iws
.idea/modules.xml
.idea/*.iml
.idea/workspace.xml
.idea/caches/
.idea/gradle.xml
.idea/libraries/
.idea/shelf/

.vscode/

.project
.classpath
.settings/

*.log

**/remappedSources/

run/
fabric/run/
neoforge/run/

*.jar
*.zip
*.tar.gz

hs_err_pid*
replay_pid*
